/* Mobile Devices */
@media only screen and (max-width: 468px) {
    .section-title{
        font-size: 25px;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .navbar-brand p{
        font-size: 5vw;
        font-weight: 500;
        padding-left: 10px;
        padding-top: 10px;
    }
    .banner-text{
        margin-top: 20px;
        padding-left: 0;
    }
    .banner-text h1{
        margin-top: 10px;
        font-size: 12vw;
        color: var(--text-color);
    }
    .hero-text{
        text-align: left;
        padding-top: 10px;
        padding-right: 20%;
        font-size: 18px;
    }

    /* about section */
    .left-border p{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
    }
    .banner-item img{
        padding-top: 5px;
    }
    /* .neon-btn */
    .neon-btn{
        font-size: 15px;
    }
    /* contact section */
    .contact-item{
        display: block !important;
       
    }
    .con-text{
        margin-left: 5px;
        line-height: 5px;
        text-align: center;
    }
    .con-icon {
        height: 80px;
        max-width: 40px;
        margin: auto;
        border-radius: 50%;
        background-color: #fff;
    }
    .con-icon i{
        color: #000; 
        font-size: 25px;
        margin: 5px;
    }
    .con-text h4{
        color: cyan;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .left-border{
        border-left: 2px solid cyan;
    }

 }
 
 
 /* mobile to ipad Devices */
 @media only screen and (min-width: 468px) {
    .section-title{
        font-size: 25px;
    }
    .banner-text{
        margin-top: 10px;
        padding-left: 0;
    }
     .banner-text h1{
        margin-top: 20px;
        font-size: 65px;
        color: var(--text-color);
    }
    .navbar-brand p{
        font-size: 30px;
        font-weight: 500;
        padding-left: 10px;
        padding-top: 10px;
    }
    .hero-text{
        text-align: left;
        padding-top: 10px;
        padding-right: 20%;
        font-size: 30px;
    }

    /* about area */
    .left-border p{
        padding-left: 10px;
        margin-right: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
    .left-border{
        border-left: 4px solid cyan;
    }
    /* .neon-btn */
    .neon-btn{
        font-size: 18px;
    }
    .about-text{
        padding-right: 5%;
    }



 }
 
 /* Ipad to desktop Devices */
 @media only screen and (min-width: 768px){
    .section-title{
        font-size: 40px;
    }
    .banner-text h1{
        margin-top: 20px;
        font-size: 6vw;
        color: var(--text-color);
    }
 
    .left-border p{
        margin-top: 10px;
        margin-left: 5px;
    }
    .left-border{
        border-left: 5px solid cyan;
    }

 }

 /* laptop size */
 @media only screen and (min-width: 1500px) {
    .left-border p{
        margin-top: 10px;
        margin-left: 5px;
        padding-right: 12%;
        font-size: 1.4rem;
    }
    .left-border{
        border-left: 7px solid cyan;
    }
 }