/* === Font imports === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* === Global Values === */
:root{
    --black-900: #000000;
    --text-color: #e4e4e4;
}
*{
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fromLeft {
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromRight {
    0%{
        opacity: 0;
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moving {
    0%{
      transform: translateX(0px);
    }
    30%{
      transform: translateY(10px);
    }
    50%{
      transform: translateX(-10px);
    }
    70%{
      transform: translateY(5px);
    }
    100%{
      transform: translateX(0px);
    }
  }
/* === main style === */
body{
    font-family: 'Roboto', sans-serif;
    color: #e4e4e4;
    background-color: var(--black-900);
}
header{
    overflow: hidden;
}
main{
    overflow: hidden;
}
.section-title{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: lightgray;
    margin: 50px 0;
}
/* Navbar area */
.navbar-toggler i{
    color: #e4e4e4;
    font-size: 30px;
}
.text-center i{
    padding: 10px;
    font-size: 20px;
}
.navbar{
    padding: 0 5%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-brand img{
    height: 70px;
    width: 70px;
    border: 2px dotted lightgray;
    border-radius: 50%;
    animation: fromLeft 1.5s ease-in-out;
}
.navbar-brand p{
    font-size: 30px;
    color: var(--text-color);
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}
.navbar-nav li{
   padding: 0 15px;
}
.navbar-nav li a{
    font-size: 22px;
    color: #e4e4e4 !important;
}

/* Banner area */
h1{
    color: #484848;
    cursor: pointer
  }
  h1 span{
    transition: .5s linear
  }
  h1:hover span{
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 255, 255, 0.5),
                 0 0 5px rgba(0, 255, 255, 0.493), 
                 0 0 20px rgba(0, 255, 255, 0.431);             
  }


.banner-text{
    padding-left: 10%;
    animation: fromLeft 1.5s ease-in-out;
}
.bg-img{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)) ,url('../images/bg-2.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text h1{
    margin-top: 10px;
    font-size: 6vw;
    color: var(--text-color);
}
.hero-text{
    text-align: left;
    padding-top: 10px;
    padding-right: 20%;
    font-size: 35px;
}
.text-color{
    color: cyan;
}
/* dev animation */
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* == */

.text-bg{
    background-color: cyan;
    color: var(--black-900);
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 5px 5px 50px cyan;
}
.banner-item img{
    max-height:750px;
    max-width:100%;
    padding-top: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
    animation: moving 7s infinite 1.5s ease-in-out;
}
.hero-img{
    animation: fromRight 1.5s ease-in-out;
}


/* About section */
#about-area{
    margin-top: 100px;
    overflow: hidden;
}
.about-img img{
    max-height: 700px;
    animation: moving 7s infinite 1.5s ease-in-out;
}
.padding-lft{
    padding-left: 7%;
}
.left-border{
    border-left: 8px solid cyan;
    margin: 10px 15px;
    padding: 0 20px;
}
.left-border p{
    margin-right: 15%;
    text-align: justify;
    font-size: 25px;
}