/* === Font imports === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* === Global Values === */
:root{
    --black-900: #000000;
    --text-color: #e4e4e4;
}
*{
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* === main style === */
body{
    font-family: 'Roboto', sans-serif;
    color: #e4e4e4;
    background-color: var(--black-900);
}

/* Navbar area */
.navbar-toggler i{
    color: #e4e4e4;
    font-size: 30px;
}
.text-center i{
    padding: 10px;
    font-size: 20px;
}
.navbar{
    border-bottom: 1px solid lightslategrey;
    padding: 0 5%;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.navbar-brand img{
    height: 80px;
    width: 80px;
    border: 2px dotted lightgray;
    border-radius: 50%;
}
.navbar-brand p{
    font-size: 30px;
    color: var(--text-color);
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}
.navbar-nav li{
   padding: 0 15px;
}
.navbar-nav li a{
    font-size: 22px;
    color: #e4e4e4 !important;
}

/* Banner area */
.banner-text{
    padding-left: 10%;
}
.bg-img{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)) ,url('../images/bg-2.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text h1{
    margin-top: 10px;
    font-size: 6vw;
    color: var(--text-color);
}
.hero-text{
    text-align: left;
    padding-top: 10px;
    padding-right: 20%;
    font-size: 35px;
}
.text-color{
    color: cyan;
}
/* dev animation */
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* == */
.text-bg{
    background-color: cyan;
    color: var(--black-900);
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 5px 5px 50px cyan;
}
.banner-item img{
    max-height: 750px;
    max-width:100%;
}